body{
    font-size: 18pt;
    font-family: 仿宋;
}

p{
    text-indent: 40px;
}

td {
    vertical-align: top;
    font-size: 12pt;
}

table.center {
    margin-left: auto;
    margin-right: auto;
  }

img{
   max-width: 40%;
}


#wrapper {
    width: 60%;     /* specify a width! */
    margin: 0 auto; /* center */
  }

@media (max-width: 1600px) {
    #wrapper {
        width: 90%;     /* specify a width! */
        margin: 0 auto; /* center */
      }
    
    img{
        max-width: 90%;
    }
    
}
